body{
    background-color:#344a72 ;
    font-family: 'Roboto', sans-serif;
}
.signup-box{
    width: 360px;
    height: 580px;
    margin:auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
 form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius:6px ;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}
.para-0{
    text-align: center;
    font-size: medium;
}
.para-1{
    text-align: center;
    color: white;
    font-size:15px ;
    margin-top: 10px;
}
.para-1 a{
    color: #49c1a2;
}
/* login */
.login-box{
    width: 360px;
    height: 415px;
    margin: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.png{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}
.png input{
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2px;
    width: 30px;
    height: 30px;
}
.forget-pass a{
    color: #49c1a2;
}/* forget password */
.forget-box{
    width: 360px;
    height: 250px;
     margin: auto; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.r1{
    text-align: center;
    font-size:15px ;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* enter code */
.code-box{
    width: 360px;
    height: 250px;
    margin: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.re-code a{
    color: #49c1a2;
}